[Unit]
Description=RearCamera
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/opt/rearcamera/venv/bin/python3 /opt/rearcamera/rearcamera.py

[Install]
WantedBy=sysinit.target
