[Unit]
Description=Brightness
DefaultDependencies=no
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/brightness
ExecStart=/opt/brightness/venv/bin/python3 /opt/brightness/brightness.py
Restart=always
RestartSec=5

[Install]
WantedBy=sysinit.target
